# Fichiers et dossiers à ignorer
.env
.env.*
*.env
*.env.*
/storage/
/vendor/
/node_modules/
.idea/
*.log
*.sqlite
.DS_Store
*.bak
*.swp
*.swo
*.tmp
*.lock
*.secret
*.key
*.pem
*.crt
*.p12
*.pfx
*.pub
*.cache
*.zip
*.tar
*.gz
*.tgz
*.7z
*.rar
*.bak
*.old
*.orig
*.rej
composer.lock
