<header class="creator-header">
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <img src="/assets/img/logo.png" alt="Msss Logo">
            </a>
        </div>
        <nav class="user-header">
            <ul class="nav-list">
                <li>
                    <a href="/profile" class="nav-item {{ is_active_path('/profile') ? 'active' : '' }}">
                        <i class="fas fa-user"></i> Profil
                    </a>
                </li>
                <li>
                    <a href="/dashboard" class="nav-item {{ is_active_path('/dashboard') ? 'active' : '' }}">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="/profile/packs" class="nav-item {{ is_active_path('/profile/packs') ? 'active' : '' }}">
                        <i class="fas fa-box-open"></i> Packs
                    </a>
                </li>
                <li>
                    <a href="/profile/messages" class="nav-item {{ is_active_path('/profile/messages') ? 'active' : '' }}">
                        <i class="fas fa-envelope"></i> Messages
                    </a>
                </li>
                <li>
                    <a href="/logout" class="nav-item">
                        <i class="fas fa-sign-out-alt"></i> Déconnexion
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
