/*
 |--------------------------------------------------------------------------
 | Compatibilité historique
 |--------------------------------------------------------------------------
 | Les styles publics ont été regroupés dans public.css. Ce fichier ne fait
 | plus que relayer ces règles afin d'éviter de casser les inclusions
 | existantes dans les templates PHP/Twig.
 */

@import url('public.css');
