<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ pageTitle|default('Msss') }}{% endblock %}</title>
    {% block head_assets %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
